@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome hehe this is my first time using github</b></h1>
    <h1 class="display-4"><b>Welcome hehe this is my first time using github</b></h1>
    <h1 class="display-4"><b>Welcome hehe this is my first time using github</b></h1>
    <h1 class="display-4"><b>Welcome hehe this is my first time using github</b></h1>
    <p>Choose what to do</p>
    
</div>
<div class="MedicineIcon">
    <a href="https://localhost:7035/Medicines">
        <img src="~/pictures/adobe express - file.png" />
    </a>
</div>

<video controls="controls" loop="loop">
    <source src="~/videos/win_20250531_21_16_53_pro.mp4" type="video/mp4" />
</video>
