@model Student_Management_System.Models.Medicine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicineID" />
            <div class="form-group">
                <label asp-for="TransDetailID" class="control-label"></label>
                <select asp-for="TransDetailID" class="form-control" asp-items="ViewBag.TransDetailID"></select>
                <span asp-validation-for="TransDetailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenericName" class="control-label"></label>
                <input asp-for="GenericName" class="form-control" />
                <span asp-validation-for="GenericName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsedFor" class="control-label"></label>
                <input asp-for="UsedFor" class="form-control" />
                <span asp-validation-for="UsedFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyPrice" class="control-label"></label>
                <input asp-for="BuyPrice" class="form-control" />
                <span asp-validation-for="BuyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceEach" class="control-label"></label>
                <input asp-for="PriceEach" class="form-control" />
                <span asp-validation-for="PriceEach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
